HTML CSSResult Skip Results Iframe
EDIT ON
* {
    box-sizing: border-box;
}
.header {
    padding: 15px;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

/*
  memberikan ukuran pada
  masing-masing kolom grid
*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.gla_slider {
    height: 500px !important;
}

/*
  membuat grid menjadi tersusun kebawah
  ketika lebar layar kurang dari 700px
*/
@media screen and (max-width: 700px) {
    /*[class*="col-"] {*/
    /*    display:block;*/
    /*    clear:left;*/
    /*    width:100%*/
    /*}*/
    .fw-col-xs-6{
        width: 45% !important;
        float: left !important;
    }
}

@media (max-width:2000px){
    .gla_section .container{
        padding-bottom: 0px !important;
    }
    .dorong{
        margin-top: 120px;margin-bottom: 120px
    }
    .etick-desktop {
        display: block !important;
    }

    .etick-mobile {
        display: none !important;
    }
}

@media (max-width:1200px){
    .gla_section .container{
        padding-bottom: 0px !important;
    }
    .dorong{
        margin-top: 120px;margin-bottom: 120px
    }
    .etick-desktop {
        display: block !important;
    }

    .etick-mobile {
        display: none !important;
    }
}

@media (max-width:1023px){
    .gla_section .container{
        padding-bottom: 0px !important;
    }
    .dorong{
        margin-top: 120px;margin-bottom: 120px
    }
    .etick-desktop {
        display: block !important;
    }

    .etick-mobile {
        display: none !important;
    }
}

@media (max-width:1000px){
    .gla_section .container{
        padding-bottom: 0px !important;
    }
    .dorong{
        margin-top: 120px;margin-bottom: 120px
    }
    .etick-desktop {
        display: block !important;
    }

    .etick-mobile {
        display: none !important;
    }
}



@media (max-width:568px){
    h5{
        font-size: 25px !important;
    }
    .dorong{
        margin-top: 0px;margin-bottom: 120px
    }
    .fw-col-xs-6{
        width: 50% !important;
        padding-left: 10px;
        float: left !important;
    }
    .etick-desktop {
        display: none !important;
    }

    .etick-mobile {
        display: block !important;
    }
}

@media (max-width:480px){
    .dorong{
        margin-top: 0px;margin-bottom: 120px
    }
    h5{
        font-size: 20px !important;
    }
    .fw-col-xs-6{
        width: 50% !important;
        padding-left: 10px;
        float: left !important;
    }
    .etick-desktop {
        display: none !important;
    }

    .etick-mobile {
        display: block !important;
    }
}



